body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background: url(burningMan.jpeg) center;
}
body, a:link, a:visited, a:active{
  color:black;
  padding-left: 50px;

}
.title {
  padding:5px 12px;
  float:right;
}

.addDancerButton .lineUp{
  padding:5px 12px;
  border-radius: 25px;
}
.topbar{

  height:32px;
  background-color: #555;

  font-size: 20px;
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
}
.title{
  background-color: #777;


}
.dancer{
  border:20px solid red;
  border-radius:50px;
  position:absolute;

}

.funkyDancer{
  background: url(bikeTrick.gif) center;
  background-image: cover;
  background-size: 200px;
  width: 80px;
  height: 80px;
  border: 0px black;
  border-radius: 50px;

  /* transform: translate3d(20px, 20px, 0px); */

}

/* .RainbowDancer {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  border: 0px black;
} */

.blinkyClass {
  /* position: relative; */
  background: url(creepySheep.jpg) center;
  background-image: cover;
  background-size: 83px;
  width: 70px;
  height: 70px;
  border: 0px black;
  border-radius: 70px;;
}

.dancer:hover p {
  transform: scaleY(0.66)
}

.dancer:hover {
  transform: scaleY(2.5);
  transform-origin: bottom;
}